.performances{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../images/block-9/block9-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.performances__title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    @extend %roboto-700;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.performances__subtitle {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    @extend %round-700;
    color: #3037E4;
}
.performances__text {
    margin-bottom: 60px;
    width: 800px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @extend %roboto-700;
    color: #FFFFFF;
}

.performances__slider .slick-dots {
    position: static;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: 50%;
    width: 300px;
}
.performances__slider .slider__arrow-r,
.performances__slider .slider__arrow-l {
    top: 40%;
} 
.performances__slider .slider__arrow-r{
    right: -20px;
}
.performances__slider .slider__arrow-l{
    left: -20px;
}
   


.performances__content {
    margin-bottom: 45px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.performances__content-item {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 21px;
    color: $color-black;
    @extend %round-500;
    position: relative;
}
.performances__content-item::before,
.performances__content-center::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../images/block-8/blog8-star.svg');
    background-repeat: no-repeat;
    left: -30px;
    top: 3px;
}
.performances__content-center::before{
    left: 36%;
}

.performances__content-center {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 21px;
    color: $color-black;
    text-align: center;
    @extend %round-500;
    position: relative;  
}

.performances__popup-block{
    width: 670px;
    margin-left: auto;
    margin-right: auto;
}
.performances__popup {
    background-image: url('../images/block-9/block9-popup.png');
    background-repeat: no-repeat;
    width: 690px;
    width: 100%;
    height: 457px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}

.performances__popup-text {
    margin-top: -90px;
    width: 220px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;  
}