.joy {
    padding-top: 90px;
    padding-bottom: 100px;
    background-image: url('../images/block12/block12-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.joy__title {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: $violet-title; 
    @extend %roboto-700;   
}
.joy__subtitle {
    margin-bottom: 70px;
    max-width: 517px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.joy__content {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    column-gap: 90px;
}
.joy__content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joy__content-card-title {
    margin-bottom: 27px;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #716ABC;

}
.joy__text {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #716ABC;
}
.joy__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.costumes {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url('../images/block12/block12-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.costumes__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.costumes__content {
    max-width: 500px;
}
.costumes__content-title {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 45px;
    color: $violet-title;
    @extend %roboto-700;
}
.costumes__content-subtitle {
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 40px;
    color: $color-black;
    @extend %round-700;
}
.costumes__content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.costumes__content-text {
    width: 300px;
    font-size: 16px;
    line-height: 21px;
    color: $color-black;
    @extend %narrow-400;
}

@media(max-width:1000px){
    .costumes__info{
        flex-direction: column;
    }
    .costumes__content{
        text-align: center;
        margin-top: 15px;
    }
}

@media(max-width:768px){
    .joy__content{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:500px){
    .joy__content{
        grid-template-columns: repeat(1, 1fr);
    }
    .joy__title{
        font-size: 24px;
        line-height: 29px;
    }
    .joy__subtitle{
        font-size: 20px;
        line-height: 27px;
    }
    .joy__content-card-title{
        font-size: 19px;
    }
    .joy__button{
        font-size: 13px;
        padding: 13px 38px;
        width: 100%;
    }
    .joy__text{
        font-size: 22px;
        line-height: 27px;
    }
    .costumes__content-box{
        display: block;
    }
    .costumes__content-text{
        margin-left: auto;
        margin-right: auto;
    }
    .costumes__content-button{
        margin-top: 20px;
        width: 100%;
    }
    .costumes__content-title{
        font-size: 25px;
    }
    .costumes__content-subtitle{
        font-size: 22px;
        line-height: 27px;
    }
    .costumes{
        padding-bottom: 10px;
    }
}
