.face {
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url('../images/block-6/block6-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.face__title {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
     @extend %roboto-700;
    color: #7E75DF;
}
.face__picture {
    margin-top: -85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.face__subtitle {
    margin-top: -80px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: $color-black;
    @extend %round-700;
}
.face__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.face__top-orange{
    margin-top: -30px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #F79452;
    transform: rotate(-1.62deg);
}
.face__top-blue{
    margin-top: -60px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #5B85ED;
    transform: rotate(3.81deg);
}

.face__center {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.face__center-yellow{
    margin-left: 90px;
    margin-top: -40px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #E1A64E;
    transform: rotate(-15.63deg);
    
}

.face__center-text {
    margin-bottom: 20%;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #E85580;
    transform: rotate(-1deg);
}
.face__bottom {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.face__bottom-gray,
.face__bottom-red,
.face__bottom-black{
    margin-top: -30px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
.face__bottom-gray{
    width: 249px;
    color: #7E7E7E;
    transform: rotate(6.56deg);
}
.face__bottom-red{
    color: #ED6362;
}
.face__bottom-black{
    margin-top: -50px;
    margin-left: 90px;
    color: #414042;
    transform: rotate(-13.35deg);
}
@media(max-width: 768px){
    .face__picture,
    .face__top,
    .face__center,
    .face__bottom {
        flex-direction: column;
        align-items: center;
    }             
}
@media(max-width: 500px){
    .face__title{
        font-size: 25px;
    }
    .face{
        padding-top: 35px;
    }
    .face__subtitle {
        margin-top: -20px;
        margin-bottom: 15px;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
    }
    .face__top-orange,
    .face__top-blue,
    .face__center-yellow,
    .face__bottom-gray,
    .face__bottom-red,
    .face__bottom-black,
    .face__center-text{
        font-size: 20px;
    } 
    .face__center-text{
        margin-bottom: 0;
    }
    .face__bottom-gray{
        line-height: 25px;
    }  
}