.newyear{
    padding-top: 95px;
    padding-bottom: 85px;
    background-image: url('../images/block7/block7-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newyear__title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    @extend %roboto-700;
    color: #D82F3C;
}
.newyear__content {
    display: flex;
    justify-content: space-between;
   
}
.newyear__content-box {
    width: 700px;
}
.newyear__content-title {
    margin-bottom: 30px;
    max-width: 702px;
    font-size: 30px;
    line-height: 40px;
    color: #414042; 
   
}
.newyear__content-text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 21px;
    color: #414042;
}
.newyear__content-block {
    display: flex;
    justify-content: space-between;
}
.newyear__content-list {
    width: 200px;
}
.newyear__content-item {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 21px;
    color: #414042;
    position: relative;
}
.newyear__content-item::before{
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url('../images/block7/Star\ 16.svg');
    background-repeat: no-repeat;
    left: -23px;
    top: 3px;

}
.newyear__content-form {
    width: 330px;
}
.newyear__content-input::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #2175A4;
}
.newyear__content-form-text {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 14px;
    color: #414042;
}
.newyear__content-btn {
    padding: 18px 34px;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
    color: #536821;
    background: #ACD34C;
    border-radius: 20px;
    cursor: pointer;
    border-bottom: 4px solid #536821;
}
.newyear__content-clown {
    height: 600px;
}
.newyear__content-picture {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.newyear__content-button {
    padding: 18px 39px;
    font-weight: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border: none;
    line-height: 24px;
    color: #FFFFFF;
    background: #D82F3C;
    border-bottom: 5px solid #2175A4;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.newyearquestions{
    padding-top: 10px;
    background-image: url('../images/block7/SuperShow-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
}
.newyear-questions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.newyear-questions__title {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 45px;
    color: $violet-title;
    @extend %roboto-700;
}
.newyear-questions__subtitle {
    margin-bottom: 41px;
    font-size: 30px;
    line-height: 40px;
    color: #414042;
    @extend %round-700;
}
.newyear-questions__text {
    margin-bottom: 44px;
    font-size: 16px;
    line-height: 21px;
    color: #414042;
    @extend %round-500;
}

.newyear-questions__input::placeholder{
    font-size: 18px;
    line-height: 24px;
    color: #2175A4;
}
.newyear-questions__button {
    margin-left: 20px;
}

.newyear-questions__policy {
    width: 282px;
    text-decoration: underline;
    font-size: 12px;
    line-height: 14px;
    color: #414042;
    @extend %round-500;
}


@media(max-width:1200px){
    .newyear__content-clown img{
        display: none;
        flex-wrap: wrap;
    }
    .newyear__content-clown{
        height: 0;
    }
    .newyear__content{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .newyear__content-picture{
        margin-top: 50px;
    }
}
@media(max-width:768px){
    .newyear__content-block{
        flex-direction: column;
        align-items: center;
    }
    .newyear__title{
        margin-bottom: 0;
    }
    .newyear__content-title{
        text-align: center;
    }
    .newyear__content-text{
        text-align: center;
    }
    .newyear-questions{
        flex-direction: column-reverse;
    }
    .newyear-questions__title,
    .newyear-questions__subtitle{
        text-align: center;
    }
}
@media(max-width:500px){
    .newyear__content-title{
        font-size: 24px;
        line-height: 30px;
    }
    .newyear__title{
        font-size: 30px;
    }
    .newyear__content-text{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .newyear__content-img{
        display: none;
    }
    .newyear__content-form{
        width: 300px;
    }
    .newyear__content-input{
        width: 300px;
        padding: 14px 50px;
    }
    .newyear__content-button{
        padding: 15px 29px;
        font-size: 14px;
    }
    .newyear{
        padding-top: 45px;
        padding-bottom: 40px;
    }
    .newyear__content-btn{
        width: 100%;
        padding: 14px 50px;
    }
    .newyear-questions__title{
        margin-bottom: 50px;
        font-size: 24px;
        line-height: 28px;
    }
    .newyear-questions__subtitle{
        font-size: 18px;
        line-height: 24px;
    }
    .newyear-questions__input,
    .newyear-questions__button{
        width: 300px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 14px 50px;
    }
    .newyear-questions__policy{
        margin-top: 15px;
    }
    .newyear-questions__text{
        margin-bottom: 15px;
    }
}