.scenery {
    padding-top: 116px;
    padding-bottom: 100px;
    background-image: url('../images/block-8/block8-bgg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.double__container {
}
.scenery__title {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 45px;
    color: $violet-title;
    @extend %roboto-700;
    text-align: center;
}
.scenery__subtitle {
    max-width: 550px;
    font-size: 30px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: $color-black;
    @extend %round-700;
}
.scenery__subtitle span {
    color: $color-red;
}
.scenery__images{
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.scenery__content {
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.scenery__content-desc {
    max-width: 307px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    position: relative;
}
.scenery__content-desc::before{
    content: '';
    position: absolute;
    background-image:url('../images/block-8/Vector.png');
    background-repeat:no-repeat;
    z-index: 0;
    width: 650px;
    left: -90px;
    top: -100px;
    height: 650px;
}
.scenery__content-img{
    position: relative;
}
.scenery__content-desc p{
    margin-bottom: 15px;
    position: relative;
}
.scenery__content-list {
    position: relative;
}
.scenery__content-item {
    margin-bottom: 15px;
    position: relative;
}
.scenery__content-item::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url('../images/block-8/blog8-star.svg');
    background-repeat: no-repeat;
    left: -30px;
    top: 3px;
}
.scenery__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scenery__bottom-text {
    max-width: 380px;
    font-size: 16px;
    line-height: 21px;
    color: #716ABC;
}
.scenery__bottom-btn {
    padding: 18px 38px;
    border: none;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
    border-bottom: 4px solid $color-red;
}
.supero{
    padding-top: 67px;
    padding-bottom: 84px;
    background-image: url('../images/block-8/Frame\ 3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.supero__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.supero__box-title {
    margin-bottom: 10px;
    max-width: 700px;
    font-size: 40px;
    line-height: 45px;
    color: $violet-title;
    @extend %roboto-700;
}
.supero__box-subtile {
    font-size: 30px;
    line-height: 40px;
    max-width: 700px;
    color: $color-black;
    @extend %round-700;
}
.supero__form-input {
    margin-right: 20px;
}
.supero__box-text {
    width: 280px;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

@media(max-width:1200px){
.scenery__images-img--one img,
.scenery__images-img--two img{
    margin-top: 60px;
}
.scenery__images-img--three{
    margin-top: -120px;
}
.scenery__content-desc p{
    max-width: 300px;
    margin-left: 90px;
}
.scenery__content-list{
    margin-left: 90px;
}
}

@media(max-width: 768px){
    .scenery__bottom{
        flex-direction: column;
        align-items: center;
    }
    .scenery__bottom-text{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .scenery__bottom-btn{
        margin-top: 15px;
    }
    
    .scenery__images-img--one{
        display: none;
    }
    .scenery__content{
        display: none;
    }
    .supero__content{
        flex-direction: column;
    }
    .supero__box-title,
    .supero__box-subtile{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .supero-form{
        margin-top: 10px;
    }
}

@media(max-width: 500px){
    .scenery__title{
        font-size: 25px;
    }
    .scenery__subtitle{
        font-size: 20px;
        line-height: 26px;
    }
    .scenery{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .scenery__bottom-btn{
        font-size: 14px;
        padding: 14px 40px;
    }
    .supero__box-title{
        font-size: 25px;
        line-height: 30px;
    }
    .supero__box-subtile{
        font-size: 20px;
        line-height: 22px;
    }
    .supero__box-text{
        margin-top: 10px;
    }
    .supero__form-input,
    .supero__form-btn{
        width: 300px;
        width: 100%;
        padding: 14px 50px;
    }
    .supero{
        padding-top: 35px;
        padding-bottom: 30px;
    }
    .supero-form{
        margin-top: 20px;
    }
    .supero__form-input{
        margin-right: 0;
    }
}


