.super-program {
    padding-top: 138px;
    padding-bottom: 80px;
    background-image: url(../images/block-3/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media(max-width: 900px){
    .super-program{
        padding-top: 50px;
        padding-bottom: 10px;
    }
}

.super-program__title {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: $violet-title;
    @extend %roboto-700;
}
.super-program__subtitle {
    max-width: 1038px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    line-height: 40px;
    color: #60387E;
    @extend %round-700; 
}
@media(max-width: 800px){
.super-program__subtitle{
    text-align: center;
    font-size: 25px;
    line-height: 35px;
    }
}


.super-program__slider-thumb-text {
    margin-bottom: 23px;
    text-align: center;
}

.super-program__slider-big {
    margin-bottom: 44px;
}
@media(max-width: 800px){
    .super-program__slider-big {
        margin-bottom: 14px;
    }
}
.super-program__slider-big-item {
    display: flex !important;
}
@media(max-width: 1300px){
    .super-program__slider-big-item{
        width: 1000px !important;
    }
    
}
@media(max-width: 1000px){
    .slider-none{
        display: none !important;
    }
    .super-program__slider{
        max-width: 1000px;
    }
}
.super-program__slider-big-box{
    max-width: 537px;
    margin-left: 34px;
}
@media(max-width: 1000px){
    .super-program__slider-big-box{
        margin-left: auto;
        margin-right: auto;
    }
}
.super-program__slider-big-title {
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 40px;
    color: #7E75DF;
    @extend %round-500;
}
.super-program__slider-big-text {
    margin-bottom: 15px;
    font-size: 16px;
    max-width: 500px;
    line-height: 21px;
    @extend %round-500;
    color: #60387E;
}
.super-program__slider-big-link {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 21px;
    color: #60387E;
    position: relative;
}
.super-program__slider-big-link::before{
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url('../images/block7/Star\ 16.svg');
    background-repeat: no-repeat;
    left: -20px;
    top: 3px;
}
.super-program__slider-big-link:last-child{
    margin-bottom: 20px;
}

.super-program__slider-big-input {
   @extend %button-input; 
}
@media(max-width: 600px){
    .super-program__slider-big-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .super-program__slider-big-box{
        text-align: center;
    }
    .super-program__slider-big-link::before{
        display: none;
    }  
}



.super-program__slider-big-input::placeholder{
    color: #2175A4;
}
.super-program__slider-big-btn {
    padding: 18px 30px;
    margin-left: 23px;
    font-size: 18px;
    line-height: 24px;
    border: none;
    text-transform: uppercase;
    color: #536821;
    background-color: #ACD34C;
    border-bottom: 2px solid #536821;
    border-radius: 20px;
    cursor: pointer;
}
.super-program__btn{
    padding: 18px 40px;
    margin-left: 60px;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background: #FFFFFF;
    border: 3px solid #DC4955;
    border-bottom: 6px solid #DC4955;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
}
@media(max-width: 600px){
    .super-program__btn,
    .super-program__slider-big-btn,
    .super-program__slider-big-input{
        max-width: 300px;
        margin-left: 0;
    }
    .super-program__slider-big-form .header__form-after::after{
        display: none;
    }
}

@media(max-width: 400px){
    .super-program__slider-big-box{
        max-width: 250px;
        text-align: center;
    }
    .super-program__subtitle{
        font-size: 20px;
        line-height: 28px;
    }
    .super-program__title{
        font-size: 30px;
        line-height: 35px;
    }
    .super-program__slider-big-input{
        width: 270px;
    }
.super-program__slider-big-btn{
    width: 275px;
}
.super-program__btn{
    font-size: 15px;
}
.super-program__slider{
    margin-top: -30px;
}
.super-program__slider-big-title{
    margin-top: -30px;
}   
}
.slider__arrow-l,
.slider__arrow-r{
    position: absolute;
    top: -107px;
}
.slider__arrow-r{
    right: 15px;
}
.slider__arrow-l{
    left: 15px;
}
