@font-face {

    font-family: 'arial';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: local('arial'),
    url('../fonts/arial.woff'),
    url('../fonts/woff2');




    font-family: 'boorsok';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: local('boorsok'),
    url('../fonts/boorsok.woff'),
    url('../fonts/boorsok.woff2');



    font-family: 'nokia';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: local('nokia'),
    url('../fonts/nokia.woff'),
    url('../fonts/nokia.woff2');



    font-family: 'palatino';
    font-weight: 400;
    font-style: normal;
    font-display: swap;


    src: local('palatino'),
    url('../fonts/palatino.woff'),
    url('../fonts/palatino.woff2');



    font-family: 'rounded';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: local('rounded'),
    url('../fonts/rounded.woff'),
    url('../fonts/rounded.woff2');

    

    font-family: 'Fruktur-Regular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;

    src: local('Fruktur-Regular'),
    url('../fonts/Fruktur-Regular.woff'),
    url('../fonts/Fruktur-Regular.woff2');
}