html,
body {
	height: 100%;
  color: #60387E;
  @extend %round-500;
}


.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}

.double__container {
  max-width: 1870px;
  padding: 0 15px;
  margin: 0 auto;
}

.button{
  padding: 18px 34px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  color: #536821;
  background: #ACD34C;
  border-radius: 20px;
  cursor: pointer;
  border-bottom: 4px solid #536821;
}





