$color-red: #E43030;
$color-violet: #60387E;
$violet-title: #7E75DF;
$color-white: #fff;
$color-black: #414042;


%roboto-700{
    font-family: 'Roboto-Bold';
    font-weight: 700;
}

%narrow-400{
    font-family: 'PTSansNarrow-Regular';
    font-weight: 400;
}

%round-500{
    font-family: 'MPLUSRounded1c-Medium';
    font-weight: 500;
}

%round-700{
    font-family: 'MPLUSRounded1c-Bold';
    font-weight: 700;
}