%arial-400{
    font-family: 'arial';
    font-weight: 400;
}

%boorsok-400{
    font-family:  'boorsok';
    font-weight: 400;
}

%nokia-400{
    font-family: 'nokia';
    font-weight: 400;
}

%palatino-400{
    font-family: 'palatino';
    font-weight: 400;
}

%rounded-400{
    font-family: 'rounded', sans-serif;
    font-weight: 400;
}

%fruktur-400{
    font-family: 'Fruktur-Regular';
    font-weight: 400;
}