$color-red: #E43030;
$color-violet: #60387E;
$violet-title: #7E75DF;
$color-white: #fff;
$color-black: #414042;


%roboto-700{
    font-family: 'Roboto-Bold';
    font-weight: 700;
}

%narrow-400{
    font-family: 'PTSansNarrow-Regular';
    font-weight: 400;
}

%round-500{
    font-family: 'MPLUSRounded1c-Medium';
    font-weight: 500;
}

%round-700{
    font-family: 'MPLUSRounded1c-Bold';
    font-weight: 700;
}

%button-input{
    padding: 19px 51px;
    margin-bottom: 25px;
    width: 325px;
    background: #FFFFFF;
    border: 3px solid #2175A4;
    border-radius: 20px; 
    color: #2175A4;
}
